<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}UniDriver{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('inicio') }}">UniDriver</a>

            <div>
                <a href="{{ url_for('login') }}">Entrar</a>
                <a href="{{ url_for('cadastro') }}">Cadastrar</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 UniDriver</p>
    </footer>

</body>
</html>